@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@font-face {
  font-family: Exocet;
  src: url(../fonts/films.EXL_____.ttf);
}
body {
  font-family: "Exocet", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  background-color: #222;
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #666;
  width: 15px;
}

.buildSection,
.mainBoss,
.news {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separacion {
  height: 10vh;
  width: 100%;
  background-color: #000000;
}

.fondo {
  background: url("/img/inicio/aaaaaaaaaaaaaaaaaaaaaaaaaa.PNG") center no-repeat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  margin: 0;
}

/* -- */ /* CLASES */ /* -- */
.circulo {
  background-color: #552121;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 33px -19px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 33px -19px rgb(255, 255, 255);
  box-shadow: 0px 0px 33px -19px rgb(255, 255, 255);
  left: 13%;
}

.img-builds {
  height: 200px;
  width: 250px;
  left: 3rem !important;
  bottom: 60px !important;
}

.video-builds {
  width: 300px;
  height: 180px;
}

.videoSkills {
  width: 700px;
  height: 400px;
  position: sticky;
  top: 20%;
}

#buildSection {
  background: url("/img/inicio/wallpapersden.com_diablo-immortal-new-2022_1920x1080.jpg") center no-repeat;
  background-size: cover;
}

#buildSection,
#horrors,
#story {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class img {
  height: 250px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btns button {
  border: solid 2px transparent;
  background-color: transparent;
  transition: ease-in 0.1s;
}

.btns button img {
  width: 50px;
  height: 50px;
}

.btns button img:hover {
  scale: 1.5;
  transition: scale 0.8s;
  /* animation: roll .3s infinite; */
}

.class {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
  margin: 10px 0;
}

.btnBuild {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
}

.btnBuilds {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btnBuilds:hover {
  color: whitesmoke;
  background-color: #6b2626;
}

.btnBuilds:after {
  content: "";
  background-color: #6b2626;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btnBuilds:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #6b2626;
}

.class .btnBuild:hover {
  border: solid 2px #fff;
}

.classs progress {
  transition: ease-in 0.1s;
}

/* -- */ /* FIN CLASES */ /* -- */
/* -- */ /* -- // BUILD // -- */ /* -- */
.description-p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.build {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/img/inicio/aaaaaaaaaaaaaaaaaaaaaaaaaa.PNG") center no-repeat;
  background-size: cover;
  grid-template-areas: "gridL imgClass gridR buildDesc" "btns btns btns btns";
  z-index: 1030;
}
.build .buildGridL {
  grid-area: gridL;
  z-index: 1;
}
.build .imgContainer {
  grid-area: imgClass;
  z-index: 1;
}
.build .buildGridR {
  grid-area: gridR;
  width: 200px;
  height: 580px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(40px, 1fr);
  z-index: 1;
}
.build .buildDescription {
  grid-area: buildDesc;
  margin-left: 20px;
}

.build .imgContainer {
  position: relative;
}

.build .imgContainer .charm {
  position: absolute;
  top: 5px;
  right: 5px;
}

.build .buildGridL img,
.build .buildGridR img {
  /* height: 150px; */
  width: 80px;
}

.build .classImg {
  height: 650px;
}

.coso {
  height: 300px !important;
  width: auto !important;
  margin-left: 2rem;
}

.green {
  background-color: rgba(34, 51, 17, 0.2666666667);
  border: solid 2px #000;
  justify-self: center;
  align-self: center;
  margin: 5px 0;
}

.green.bg:hover {
  background-color: rgba(34, 51, 17, 0.2666666667);
  border: solid 2px #000;
}

.orange {
  background-color: rgba(99, 59, 44, 0.2666666667);
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}

.build .close {
  position: absolute;
  padding: 0 5px;
  right: 15px;
  top: 15px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

.build .close.closeModal {
  top: 0;
  right: 0;
}

.build .close:hover {
  color: #222;
  background-color: #fff;
}

.build .btnBuild {
  grid-area: btns;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.btn-Build {
  font-size: 15px;
  margin: 2rem;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: whitesmoke;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.btn-Build::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #6b2626;
  transition: 0.5s ease;
}

.btn-Build:hover {
  color: whitesmoke;
  transition-delay: 0.5s;
}

.btn-Build:hover::before {
  width: 100%;
}

.btn-Build::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #6b2626;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-Build:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(81, 120, 153);
}

.show {
  display: block;
}

.build .charm {
  background-color: rgba(137, 129, 33, 0.2666666667);
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}

.detail {
  position: absolute;
  z-index: 2;
}

.p-desc-items {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* -- */ /* -- // FIN BUILD // -- */ /* -- */
/* -- */ /* -- // BUILD DESCRIPTION // -- */ /* -- */
.classImg {
  -webkit-transform: scaleX(-1) !important;
  height: auto;
  width: auto;
  margin: 1rem;
}

.bgModal {
  width: 100vw;
  height: 150vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 9%, 9%, 0.5);
  z-index: 1020;
}

.buildDescription {
  /* display: none; */
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  max-height: 600px;
  overflow-y: scroll;
  text-align: center;
  z-index: 1;
}
.buildDescription::-webkit-scrollbar {
  background-color: #444;
  width: 7px;
}
.buildDescription::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 15px;
}

.skillsModal {
  max-height: 700px;
  width: 85%;
  padding: 25px;
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  background-color: #444;
}
.skillsModal img {
  width: 75px;
  height: 75px;
}
.skillsModal::-webkit-scrollbar {
  background-color: #444;
  width: 1px;
}
.skillsModal::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 8px;
}
.skillsModal p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 1080px) {
  .build {
    width: 100%;
    flex-wrap: wrap;
    grid-template-areas: "imgClass buildDesc" "gridR gridR" "gridL gridL" "btns btns";
  }
  .build .classImg {
    height: 500px;
  }
  .build .buildGridR,
  .build .buildGridL {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-top: 10px;
  }
  .build .buildGridR img,
  .build .buildGridL img {
    width: 80px;
  }
  .build .skillsModal {
    width: 90%;
  }
  .build .buildDescription {
    height: 500px;
  }
  .build .btnBuild {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .build .buildGridR img,
  .build .buildGridL img {
    width: 86px;
  }
  .build .classImg {
    height: 300px;
  }
  .build .buildDescription {
    height: 300px;
    margin: 0;
  }
  .build .buildDescription img {
    width: 50px;
  }
}
@media (max-width: 630px) {
  .circulo {
    display: none;
  }
  .build {
    grid-template-areas: "imgClass _" "buildDesc buildDesc" "gridR gridR" "gridL gridL" "btns btns";
  }
  .build .imgContainer .classImg {
    display: none;
  }
  .build .imgContainer .charm {
    width: 85px;
    margin: 10px 0;
    position: relative;
    left: 0;
  }
  .build .buildDescription {
    width: 96%;
  }
  .build .buildGridR,
  .build .buildGridL {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: flex-start;
  }
  .build .btnBuild {
    top: 0;
    justify-content: space-around;
    padding: 10px;
  }
  .build .detail {
    display: none;
  }
  .build .skillsModal {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #buildSection {
    overflow: hidden !important;
  }
  .class img {
    width: 100%;
    height: auto;
  }
  .buildDescription {
    width: 100%;
  }
  .btn-Build {
    font-size: 15px;
    margin-right: 9rem;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
  }
  .title-build {
    display: none;
  }
  .description-p {
    display: none;
  }
  .article-build {
    margin-right: 14rem !important;
  }
}
/* -- */ /* -- // FIN BUILD DESCRIPTION // -- */ /* -- */
/* boss */
#horrors {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/boss/fondoseccion_boss.jpg");
  background-position: center;
}

.mainBoss {
  background-position: center;
}
.mainBoss .carousel.slide {
  width: 70%;
}
.mainBoss h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

h5 {
  color: whitesmoke;
}

@media (max-width: 1080px) {
  .mainBoss {
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .mainBoss .carousel.slide {
    width: 100%;
  }
}
#inicio {
  width: 100%;
  align-items: start;
}
#inicio h1 {
  margin-left: 7rem;
}

.inicio-video {
  right: 0;
}

nav {
  height: 100px !important;
}
nav a:hover {
  color: rgb(225, 136, 20) !important;
  transition: color 0.4s ease-in-out;
}
nav img:hover {
  filter: brightness(150%);
  transition: filter 0.4s ease-in-out;
}

.blur {
  content: "";
  width: 35%;
  left: 25%;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

@media (max-width: 1199.98px) {
  #inicio {
    align-items: center;
  }
  .inicio-video {
    width: 100% !important;
    filter: brightness(40%);
  }
  nav {
    height: auto !important;
  }
  .nav-items-desktop {
    filter: invert(32%) sepia(99%) saturate(1134%) hue-rotate(336deg) brightness(77%) contrast(89%);
    width: 79% !important;
  }
  .nav-items-desktop ul {
    display: none;
  }
  .nav-items-desktop li {
    display: none;
  }
  .text-title {
    width: 75% !important;
    align-self: center;
  }
  .blur {
    left: 0;
    height: 20% !important;
    width: 100% !important;
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  }
}
.news {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 1fr;
}
.news .newsBtns {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news .newsBtns .selected {
  border-bottom: solid 2px whitesmoke;
}
.news .newsBtns button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: rgb(225, 136, 20);
  margin: 25px;
  transition: ease-in-out 0.2s;
}
.news .newsBtns button:hover {
  scale: 1.25;
}
.news .newsField {
  overflow-x: hidden;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 95%;
}
.news .newsField::-webkit-scrollbar {
  background-color: rgb(225, 136, 20);
  width: 5px;
}
.news .newsField::-webkit-scrollbar-thumb {
  background-color: rgb(225, 136, 20);
  width: 15px;
}
.news .newsField .loading {
  display: flex;
  justify-content: center;
}
.news .newsField .newsCard {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 70%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out 0.2s;
}
.news .newsField .newsCard h3 {
  background-color: rgba(0, 0, 0, 0.8);
}
.news .newsField .newsCard a {
  position: absolute;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  right: -120px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: ease-in-out 0.5s;
  border-radius: 15px;
  color: whitesmoke;
  z-index: 1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}
.news .newsField .newsCard a:hover {
  background-color: #fff;
  color: #000;
}
.news .newsField .newsCard:hover {
  background-position: 0%;
}
.news .newsField .newsCard:hover a {
  display: block;
  right: 0;
}

@media (max-width: 1080px) {
  .news .newsField .newsCard {
    width: 95%;
  }
}
@media (max-width: 630px) {
  .news {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .news .newsBtns {
    height: auto;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 2px #fff;
  }
  .news .newsField::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.footer {
  width: 100%;
  background-color: #0a141d;
}

.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 3rem 0rem;
}

.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo-1 .box figure img {
  width: 16rem;
}

.footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease ease-in-out;
}

.fa:hover {
  color: rgb(225, 136, 20) !important;
  transition: ease-in-out 1s !important;
}

.footer .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
* {
  margin: 0;
  padding: 0%;
}

#Pantalla {
  padding: 1rem;
  margin: 0 auto;
  height: auto;
  width: 100% !important;
}
#Pantalla video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}
#Pantalla article {
  border: #643843 2px solid;
  background: url("../img/inicio/fondo_historia.jpg") center no-repeat;
  background-size: cover;
  width: 80%;
}

.Pantallas {
  display: none;
}

.escritorio {
  color: #643843 !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.pag-2 {
  margin-left: 4rem;
}

.tele {
  display: none !important;
}

.texto {
  display: none;
}

@media (max-width: 576px) {
  #Pantalla {
    width: 100%;
    padding: 0 !important;
  }
  .Pantallas {
    background: url("../img/inicio/fondo_historia.jpg") no-repeat;
    background-position-x: 15%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    color: #643843 !important;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .Pantallas p {
    height: 60vh !important;
    font-size: 1.1rem;
  }
  .article-main {
    display: none !important;
  }
  .div-main button {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  .text {
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
}
section img {
  object-fit: cover;
}

/*# sourceMappingURL=output.css.map */
