* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  color: #fff;
}

/* -- */ /* CLASES */ /* -- */
main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class img {
  height: 250px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btns button {
  border: solid 2px transparent;
  background-color: transparent;
  transition: ease-in 0.1s;
}

.btns button img {
  width: 50px;
  height: 50px;
}

.btns button:hover {
  scale: 1.5;
  /* animation: roll .3s infinite; */
  border-radius: 20px;
}

.class .btnBuild {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
  margin: 10px 0;
}

.class .btnBuild:hover {
  border: solid 2px #fff;
}

.classs progress {
  transition: ease-in 0.1s;
}

/* -- */ /* FIN CLASES */ /* -- */
/* -- */ /* -- // BUILD // -- */ /* -- */
.build {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: #222;
  grid-template-areas: "gridL imgClass gridR buildDesc" "btns btns btns btns";
}
.build .buildGridL {
  grid-area: gridL;
}
.build .imgContainer {
  grid-area: imgClass;
}
.build .buildGridR {
  grid-area: gridR;
  width: 200px;
  height: 580px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(40px, 1fr);
}
.build .buildDescription {
  grid-area: buildDesc;
  margin-left: 20px;
}

.build .imgContainer {
  position: relative;
}

.build .imgContainer .charm {
  position: absolute;
  top: 5px;
  right: 5px;
}

.build .buildGridL img,
.build .buildGridR img {
  /* height: 150px; */
  width: 80px;
}

.build .classImg {
  height: 550px;
}

.green {
  background-color: #231;
  border: solid 2px #000;
  justify-self: center;
  align-self: center;
}

.green.bg {
  background-color: transparent;
  border: none;
  border: solid 2px transparent;
}

.green.bg:hover {
  background-color: #231;
  border: solid 2px #000;
}

.orange {
  background-color: #633b2c;
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}

.build .close {
  position: absolute;
  padding: 0 5px;
  right: 15px;
  top: 15px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  z-index: 5;
}

.build .close.closeModal {
  top: 0;
  right: 0;
}

.build .close:hover {
  color: #222;
  background-color: #fff;
}

.build .btnBuild {
  grid-area: btns;
  display: flex;
  justify-content: center;
}

.build .btnBuild button {
  background-color: transparent;
  border: solid 2px transparent;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.build .btnBuild button:hover {
  color: #000;
  background-color: #fff;
}

.show {
  display: block;
}

.build .charm {
  background-color: rgba(137, 129, 33, 0.2666666667);
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}

.detail {
  position: absolute;
  z-index: 2;
}

/* -- */ /* -- // FIN BUILD // -- */ /* -- */
/* -- */ /* -- // BUILD DESCRIPTION // -- */ /* -- */
.bgModal {
  width: 100%;
  height: 150%;
  top: -200px;
  left: 0;
  position: absolute;
  background-color: hsla(0, 9%, 9%, 0.5);
}

.buildDescription {
  /* display: none; */
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  max-height: 600px;
  overflow-y: scroll;
  text-align: center;
}
.buildDescription::-webkit-scrollbar {
  background-color: #444;
  width: 7px;
}
.buildDescription::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 15px;
}

.skillsModal {
  max-height: 500px;
  min-width: 200px;
  padding: 5px;
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  background-color: #444;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skillsModal img {
  width: 50px;
}
.skillsModal::-webkit-scrollbar {
  background-color: #444;
  width: 7px;
}
.skillsModal::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 15px;
}

@media (max-width: 1080px) {
  .build {
    width: 100%;
    flex-wrap: wrap;
    grid-template-areas: "imgClass buildDesc" "gridR gridR" "gridL gridL" "btns btns";
  }
  .build .classImg {
    height: 500px;
  }
  .build .buildGridR, .build .buildGridL {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
  .build .buildGridR img, .build .buildGridL img {
    width: 110px;
  }
  .build .skillsModal {
    width: 90%;
  }
  .build .buildDescription {
    height: 500px;
  }
  .build .btnBuild {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .build .buildGridR img, .build .buildGridL img {
    width: 86px;
  }
  .build .classImg {
    height: 300px;
  }
  .build .buildDescription {
    height: 300px;
    margin: 0;
  }
  .build .buildDescription img {
    width: 50px;
  }
}
@media (max-width: 630px) {
  .build {
    grid-template-areas: "imgClass imgClass" "buildDesc buildDesc" "gridR gridR" "gridL gridL" "btns btns";
  }
  .build .imgContainer .classImg {
    display: none;
  }
  .build .imgContainer .charm {
    width: 85px;
    position: relative;
    left: 0;
  }
  .build .buildDescription {
    width: 96%;
  }
  .build .buildGridR, .build .buildGridL {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .build .btnBuild {
    top: 0;
    justify-content: space-around;
    padding: 10px;
  }
  .build .detail {
    display: none;
  }
  .build .skillsModal {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .class img {
    width: 100%;
    height: auto;
  }
  .buildDescription {
    width: 100%;
  }
}
/* -- */ /* -- // FIN BUILD DESCRIPTION // -- */ /* -- */
/* boss */
.mainBoss {
  background-image: url(../img/fondoseccion_boss.jpg);
  background-position: center;
  height: 100%;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

h2,
h5 {
  color: whitesmoke;
}

/* footer */
.footer {
  width: 100%;
  background-color: #0a141d;
}

.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 3rem 0rem;
}

.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo-1 .box figure img {
  width: 16rem;
}

.footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease ease-in-out;
}

.footer .grupo-1 .red-social a:hover {
  color: rgb(225, 136, 20);
}

.footer .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
@font-face {
  font-family: Exocet;
  src: url(../fonts/films.EXL_____.ttf);
}
* {
  font-family: "Exocet", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  align-items: start;
}

nav {
  height: 100px !important;
}
nav a:hover {
  color: rgb(108, 117, 125) !important;
  transition: color 0.4s ease-in-out;
}
nav img:hover {
  filter: brightness(150%);
  transition: filter 0.4s ease-in-out;
}

.videoHome {
  height: 100vh;
  width: 100vw;
}
.videoHome h1 {
  margin-left: 7rem;
}
.videoHome .blur {
  content: "";
  width: 35%;
  left: 25%;
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}
.videoHome video {
  width: 100%;
}

@media (max-width: 1199.98px) {
  header {
    align-items: center;
  }
  header video {
    width: 100%;
    filter: brightness(40%);
  }
  nav {
    height: auto !important;
  }
  .nav-items-desktop {
    filter: invert(32%) sepia(99%) saturate(1134%) hue-rotate(336deg) brightness(77%) contrast(89%);
    width: 79% !important;
  }
  .nav-items-desktop ul {
    display: none;
  }
  .nav-items-desktop li {
    display: none;
  }
  .text-title {
    width: 75% !important;
  }
  .blur {
    left: 0;
    height: 20% !important;
    width: 100% !important;
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  }
}

/*# sourceMappingURL=output.css.map */
