* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  color: #fff;
}

/* -- */ /* CLASES */ /* -- */
.class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.class img {
  height: 250px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.btns button {
  border: solid 2px transparent;
  background-color: transparent;
  transition: ease-in 0.1s;
}
.btns button img {
  width: 50px;
  height: 50px;
}
.btns button:hover {
  scale: 1.5;
  /* animation: roll .3s infinite; */
  border-radius: 20px;
}
.class .btnBuild {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
  margin: 10px 0;
}
.class .btnBuild:hover {
  border: solid 2px #fff;
}
.classs progress {
  transition: ease-in 0.1s;
}
/* -- */ /* FIN CLASES */ /* -- */

/* -- */ /* -- // BUILD // -- */ /* -- */
.build {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #222;
  grid-template-areas: "gridL imgClass gridR buildDesc" "btns btns btns btns";
  z-index: 1030;
  .buildGridL {
    grid-area: gridL;
  }
  .imgContainer {
    grid-area: imgClass;
  }
  .buildGridR {
    grid-area: gridR;
    width: 200px;
    height: 580px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(40px, 1fr);
  }
  .buildDescription {
    grid-area: buildDesc;
    margin-left: 20px;
  }
}
.build .imgContainer {
  position: relative;
}
.build .imgContainer .charm {
  position: absolute;
  top: 5px;
  right: 5px;
}
.build .buildGridL img,
.build .buildGridR img {
  /* height: 150px; */
  width: 80px;
}
.build .classImg {
  height: 550px;
}
.green {
  background-color: #231;
  border: solid 2px #000;
  justify-self: center;
  align-self: center;
  margin: 5px 0;
}
.green.bg:hover {
  background-color: #231;
  border: solid 2px #000;
}
.orange {
  background-color: #633b2c;
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}
.build .close {
  position: absolute;
  padding: 0 5px;
  right: 15px;
  top: 15px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.build .close.closeModal {
  top: 0;
  right: 0;
}
.build .close:hover {
  color: #222;
  background-color: #fff;
}
.build .btnBuild {
  grid-area: btns;
  display: flex;
  justify-content: center;
}
.build .btnBuild button {
  background-color: transparent;
  border: solid 2px transparent;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
.build .btnBuild button:hover {
  color: #000;
  background-color: #fff;
}
.show {
  display: block;
}
.build .charm {
  background-color: #89812144;
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}
.detail {
  position: absolute;
  z-index: 2;
}
/* -- */ /* -- // FIN BUILD // -- */ /* -- */

/* -- */ /* -- // BUILD DESCRIPTION // -- */ /* -- */
.bgModal {
  width: 100vw;
  height: 150vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 9%, 9%, 0.5);
  z-index: 1020;
}
.buildDescription {
  /* display: none; */
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  max-height: 600px;
  overflow-y: scroll;
  text-align: center;
  &::-webkit-scrollbar {
    background-color: #444;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222;
    width: 15px;
  }
}
.skillsModal {
  max-height: 500px;
  width: 70%;
  padding: 5px;
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  background-color: #444;
  img {
    width: 50px;
  }
  &::-webkit-scrollbar {
    background-color: #444;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222;
    width: 15px;
  }
}
@media (max-width: 1080px) {
  .build {
    width: 100%;
    flex-wrap: wrap;
    grid-template-areas: "imgClass buildDesc" "gridR gridR" "gridL gridL" "btns btns";
    .classImg {
      height: 500px;
    }
    .buildGridR,
    .buildGridL {
      display: flex;
      justify-content: center;
      height: auto;
      width: 100%;
      height: 100%;
      gap: 10px;
      margin-top: 10px;
      img {
        width: 80px;
      }
    }
    .skillsModal {
      width: 90%;
    }
    .buildDescription {
      height: 500px;
    }
    .btnBuild {
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 768px) {
  .build {
    .buildGridR,
    .buildGridL {
      img {
        width: 86px;
      }
    }
    .classImg {
      height: 300px;
    }
    .buildDescription {
      height: 300px;
      margin: 0;
      img {
        width: 50px;
      }
    }
  }
}
@media (max-width: 630px) {
  .build {
    .imgContainer {
      .classImg {
        display: none;
      }
      .charm {
        width: 85px;
        margin: 10px 0;
        position: relative;
        left: 0;
      }
    }
    .buildDescription {
      width: 96%;
    }
    grid-template-areas: "imgClass _" "buildDesc buildDesc" "gridR gridR" "gridL gridL" "btns btns";
    .buildGridR,
    .buildGridL {
      overflow-x: scroll;
      overflow-y: hidden;
      justify-content: flex-start;
    }
    .btnBuild {
      top: 0;
      justify-content: space-around;
      padding: 10px;
    }
    .detail {
      display: none;
    }
    .skillsModal {
      width: 100%;
    }
  }
}
@media (max-width: 450px) {
  .class img {
    width: 100%;
    height: auto;
  }
  .buildDescription {
    width: 100%;
  }
}
/* -- */ /* -- // FIN BUILD DESCRIPTION // -- */ /* -- */
