* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  margin: 0;
}

/* -- */ /* CLASES */ /* -- */

.circulo {
  background-color: #552121;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 33px -19px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 33px -19px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 33px -19px rgba(255, 255, 255, 1);
  left: 13%;
}

.img-builds {
  height: 200px;
  width: 250px;
  left: 3rem !important;
  bottom: 60px !important;
}

.video-builds {
  width: 300px;
  height: 180px;
}

.videoSkills {
  width: 700px;
  height: 400px;
  position: sticky;
  top:20%;
}

#buildSection {
  background: url("/img/inicio/wallpapersden.com_diablo-immortal-new-2022_1920x1080.jpg")
    center no-repeat;
  background-size: cover;
}

#buildSection,
#horrors,
#story {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.class img {
  height: 250px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.btns button {
  border: solid 2px transparent;
  background-color: transparent;
  transition: ease-in 0.1s;
}
.btns button img {
  width: 50px;
  height: 50px;
}
.btns button img:hover {
  scale: 1.5;
  transition: scale 0.8s;
  /* animation: roll .3s infinite; */
}
.class {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
  margin: 10px 0;
}

.btnBuild {
  color: #fff;
  padding: 10px;
  background-color: transparent;
  border: solid 2px transparent;
}

.btnBuilds {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btnBuilds:hover {
  color: whitesmoke;
  background-color: #6b2626;
}

.btnBuilds:after {
  content: "";
  background-color: #6b2626;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btnBuilds:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #6b2626;
}

.class .btnBuild:hover {
  border: solid 2px #fff;
}
.classs progress {
  transition: ease-in 0.1s;
}
/* -- */ /* FIN CLASES */ /* -- */

/* -- */ /* -- // BUILD // -- */ /* -- */

.description-p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.build {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("/img/inicio/aaaaaaaaaaaaaaaaaaaaaaaaaa.PNG") center no-repeat;
  background-size: cover;
  grid-template-areas: "gridL imgClass gridR buildDesc" "btns btns btns btns";
  z-index: 1030;
  .buildGridL {
    grid-area: gridL;
    z-index: 1;
  }
  .imgContainer {
    grid-area: imgClass;
    z-index: 1;
  }
  .buildGridR {
    grid-area: gridR;
    width: 200px;
    height: 580px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(40px, 1fr);
    z-index: 1;
  }
  .buildDescription {
    grid-area: buildDesc;
    margin-left: 20px;
  }
}
.build .imgContainer {
  position: relative;
}
.build .imgContainer .charm {
  position: absolute;
  top: 5px;
  right: 5px;
}
.build .buildGridL img,
.build .buildGridR img {
  /* height: 150px; */
  width: 80px;
}
.build .classImg {
  height: 650px;
}

.coso {
  height: 300px !important;
  width: auto !important;
  margin-left: 2rem;
}

.green {
  background-color: #22331144;
  border: solid 2px #000;
  justify-self: center;
  align-self: center;
  margin: 5px 0;
}
.green.bg:hover {
  background-color: #22331144;
  border: solid 2px #000;
}
.orange {
  background-color: #633b2c44;
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}
.build .close {
  position: absolute;
  padding: 0 5px;
  right: 15px;
  top: 15px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.build .close.closeModal {
  top: 0;
  right: 0;
}
.build .close:hover {
  color: #222;
  background-color: #fff;
}
.build .btnBuild {
  grid-area: btns;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.btn-Build {
  font-size: 15px;
  margin: 2rem;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: whitesmoke;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.btn-Build::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #6b2626;
  transition: 0.5s ease;
}

.btn-Build:hover {
  color: whitesmoke;
  transition-delay: 0.5s;
}

.btn-Build:hover::before {
  width: 100%;
}

.btn-Build::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #6b2626;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-Build:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: rgb(81, 120, 153);
}

.show {
  display: block;
}
.build .charm {
  background-color: #89812144;
  justify-self: center;
  align-self: center;
  border: solid 2px #000;
}
.detail {
  position: absolute;
  z-index: 2;
}

.p-desc-items {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
/* -- */ /* -- // FIN BUILD // -- */ /* -- */

/* -- */ /* -- // BUILD DESCRIPTION // -- */ /* -- */

.classImg {
  -webkit-transform: scaleX(-1) !important;
  height: auto;
  width: auto;
  margin: 1rem;
}

.bgModal {
  width: 100vw;
  height: 150vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 9%, 9%, 0.5);
  z-index: 1020;
}
.buildDescription {
  /* display: none; */
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  max-height: 600px;
  overflow-y: scroll;
  text-align: center;
  z-index: 1;
  &::-webkit-scrollbar {
    background-color: #444;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222;
    width: 15px;
  }
}
.skillsModal {
  max-height: 700px;
  width: 85%;
  padding: 25px;
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  position: absolute;
  text-align: left;
  background-color: #444;
  img {
    width: 75px;
    height: 75px;
  }
  &::-webkit-scrollbar {
    background-color: #444;
    width: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222;
    width: 8px;
  }
  p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 1080px) {
  .build {
    width: 100%;
    flex-wrap: wrap;
    grid-template-areas: "imgClass buildDesc" "gridR gridR" "gridL gridL" "btns btns";
    .classImg {
      height: 500px;
    }
    .buildGridR,
    .buildGridL {
      display: flex;
      justify-content: center;
      height: auto;
      width: 100%;
      height: 100%;
      gap: 10px;
      margin-top: 10px;
      img {
        width: 80px;
      }
    }
    .skillsModal {
      width: 90%;
    }
    .buildDescription {
      height: 500px;
    }
    .btnBuild {
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 768px) {
  .build {
    .buildGridR,
    .buildGridL {
      img {
        width: 86px;
      }
    }
    .classImg {
      height: 300px;
    }
    .buildDescription {
      height: 300px;
      margin: 0;
      img {
        width: 50px;
      }
    }
  }
}
@media (max-width: 630px) {
  .circulo {
    display: none;
  }

  .build {
    .imgContainer {
      .classImg {
        display: none;
      }
      .charm {
        width: 85px;
        margin: 10px 0;
        position: relative;
        left: 0;
      }
    }
    .buildDescription {
      width: 96%;
    }

    grid-template-areas: "imgClass _" "buildDesc buildDesc" "gridR gridR" "gridL gridL" "btns btns";
    .buildGridR,
    .buildGridL {
      overflow-x: scroll;
      overflow-y: hidden;
      justify-content: flex-start;
    }
    .btnBuild {
      top: 0;
      justify-content: space-around;
      padding: 10px;
    }
    .detail {
      display: none;
    }
    .skillsModal {
      width: 100%;
    }
  }
}
@media (max-width: 450px) {
  .class img {
    width: 100%;
    height: auto;
  }
  .buildDescription {
    width: 100%;
  }
}

/* -- */ /* -- // FIN BUILD DESCRIPTION // -- */ /* -- */
