@font-face {
  font-family: Exocet;
  src: url(../fonts/films.EXL_____.ttf);
}

* {
  font-family: "Exocet", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
