.news {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 1fr;
  .newsBtns {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .selected {
      border-bottom: solid 2px whitesmoke;
    }
    button {
      align-self: center;
      background-color: transparent;
      border: none;
      color: rgb(225, 136, 20);
      margin: 25px;
      transition: ease-in-out 0.2s;
      &:hover {
        scale: 1.25;
      }
    }
  }
  .newsField {
    overflow-x: hidden;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 95%;
    &::-webkit-scrollbar {
      background-color: rgb(225, 136, 20);
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(225, 136, 20);
      width: 15px;
    }
    .loading {
      display: flex;
      justify-content: center;
    }
    .newsCard {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      position: relative;
      overflow: hidden;
      height: 250px;
      width: 70%;
      margin: 20px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-repeat: no-repeat;
      background-size: cover;
      transition: ease-in-out 0.2s;
      h3 {
        background-color: #000c;
      }
      a {
        position: absolute;
        padding: 5px 15px;
        text-decoration: none;
        font-size: 20px;
        right: -120px;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: ease-in-out 0.5s;
        border-radius: 15px;
        color: whitesmoke;
        z-index: 1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
      &:hover {
        background-position: 0%;
        a {
          display: block;
          right: 0;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .news {
    .newsField {
      .newsCard {
        width: 95%;
      }
    }
  }
}
@media (max-width: 630px) {
  .news {
    display: flex;
    flex-direction: column-reverse;
    .newsBtns {
      height: auto;
      flex-direction: row;
      justify-content: center;
      border-bottom: solid 2px #fff;
    }
    .newsField {
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}
