* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #222;
  color: #fff;
}
/* -- */ /* CLASES */ /* -- */
main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.class img {
  height: 250px;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btns button {
  border: solid 2px transparent;
  background-color: transparent;
  transition: ease-in 0.1s;
}
.btns button img {
  width: 50px;
  height: 50px;
}
.btns button:hover {
  scale: 1.1;
  /* animation: roll .3s infinite; */
  border-radius: 20px;
  border: solid 2px #ccc;
}
.class .btnBuild {
  color: #fff;
  background-color: transparent;
  border: solid 2px transparent;
  margin: 10px 0
}
.class .btnBuild:hover {
  border: solid 2px #fff;
}
/* @keyframes roll {
    0% {rotate: 30deg;}
    100% {rotate: 0deg;}
} */
progress {
  transition: ease-in 0.1s;
}
/* -- */ /* FIN CLASES */ /* -- */

/* -- */ /* -- // BUILD // -- */ /* -- */
.build {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  width: 90%;
  height: 90vh;
  background-color: #222;
}
.build img {
  height: 200px;
  width: 200px;
}
.build button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.build button:hover {
  color: #222;
  background-color: #fff;
}
.show {
  display: block;
}
/* -- */ /* -- // FIN BUILD // -- */ /* -- */

/* -- */ /* -- // BUILD DESCRIPTION // -- */ /* -- */
.buildDescription {
  /* display: none; */
  background-color: #444;
  width: 100%;
  text-align: center;
}
/* -- */ /* -- // FIN BUILD DESCRIPTION // -- */ /* -- */